{% extends "::base.html.twig" %}

{% block title %}OagBundle:Wireframe:classifierSuggestion{% endblock %}

{% block body %}

    <div class="center">

    <section class="block">

        <div class="intro margin">
            <h1>Suggestions for...</h1>
        </div>

        {{ include('OagBundle::widgets/activity.html.twig', { 'activity': activity }) }}

        {{ form_start(form) }}
        {% for tag in form['tags'] %}
        <h3>{{ form_label(tag) }}</h3>
        <label class='addremove'>
            {{ form_widget(tag) }}
            <span></span>
        </label>
        {% endfor %}
        {{ form_end(form) }}

        </section>

    </div>

{% endblock %}
