{% extends "OagBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Add agricultural classifications{% endblock %}

{% block body %}

    <div class="center" id="classifier">

        <section class="block">

            <div class="intro margin">
                <h1>Add agricultural classifications</h1>
                <h2>This tool 'reads' your files and suggests AGROVOC codes it believes match each activity ID.</h2>
            </div>

            {% for activity in activities %}
                {{ include('OagBundle::widgets/activity.html.twig', {
                    'activity': activity,
                    'suggestRoute': path('oag_wireframe_classifiersuggestion', { 'id': file.getId(), 'activityId': activity.id }),
                    'actionName': (activity.id in haveSuggested) ? 'Show suggestions' : 'Add more information'
                }) }}
            {% endfor %}

      	    <a class="cta back" href="{{ path('oag_wireframe_improveyourdata', { 'id': file.getId }) }}">Back</a>

        </section>

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/oag/js/main.js') }}"></script>
{% endblock %}
