{% extends "OagBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}OagBundle:Wireframe:classifierSuggestion{% endblock %}

{% block body %}

    <div class="center" id="classifier-suggestions">

        <section class="block">

            <div class="intro margin">
                <h1>Classifier suggestions</h1>
            </div>

            <article class="activity margin">
                <div class="heading">
                    <h2>Suggestions for {{ activity.name }} </h2>
                    <h3>Activity ID: {{ activity.id }}</h3>
                </div>

                <div class="content-block">
                    <p>Description: {{ activity.description }}</p>

                    <!-- TODO: Move this back out, but not to activity.html.twig -->
                    {{ form_start(form) }}
                    {% for tag in form['tags'] %}
                    <div class="tag-row">
                        <div class="tag">{{ form_label(tag) }}</div>
                        <label class="addremove">{{ form_widget(tag) }}<span></span></label>
                    </div>
                    {% endfor %}
                    {% do form['tags'].setRendered %}
                    <div class="bottom-page-nav">
                        {{ form_row(form.back) }}{{ form_row(form.save) }}
                    </div>
                    {{ form_end(form) }}

                    <div class="upload-info">
                        <h2>Got any project info to match this Activity ID you want the tool to read?</h2>
                        <hr>
                        <div>{{ form(pasteTextForm) }}</div>
                    </div>

              </div>
            </acticle>

        </section>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.js') }}"></script>
    <script>
        $(function () {
            $(document).tooltip();

            $("#enhancement_file_documentName").jfilestyle();;
        });
    </script>
{% endblock %}
