{% extends "OagBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}OagBundle:Wireframe:classifierSuggestion{% endblock %}

{% block body %}

    <div class="center" id="classifier-suggestions">

        <section class="block">

            <div class="intro margin">
              <h1>AGROVOC Coding</h1>
            </div>

            <article class="activity margin">
                <div class="heading">
                    <h2>AGROVOC Codes for {{ activity.name }} </h2>
                    <h3>Activity ID: {{ activity.id }}</h3>
                    {% if activity.description %}
                        <p class="more">Description: {{ activity.description }}</p>
                    {% else %}
                        <p>No description available.</p>
                    {% endif %}
                </div>

                {{ form_start(form) }}

                <div class="content-block">
                {% if tag_count_existing > 0 %}
                    <h3>We found the following exisiting codes</h3>
                    <!-- TODO: Move this back out, but not to activity.html.twig -->
                    {% for tag in form['tags'] %}
                        {# This is ugly, we need a bettwer way of splitting this form #}
                        {# TODO: fix this splitting of foem to bew done in the controller #}
                        {% if loop.index <= tag_count_existing %}
                          <div class="tag-row">
                            <div class="tag">{{ form_label(tag) }}</div>
                              <label class="addremove">{{ form_widget(tag) }}<span></span></label>
                          </div>
                        {% endif %}
                    {% endfor %}
                    {# % do form['tags'].setRendered % #}
                    <div class="bottom-page-nav">
                        {{ form_row(form.back) }}{{ form_row(form.save) }}
                    </div>
                {% else %}
                    <h3>We didn't find any existing codes<h3>
                {% endif %}
                </div>

                <div class="content-block">
                {% if tag_count_suggested > 0 %}
                    <h3>We suggest the following codes</h3>

                    {% for tag in form['tags'] %}
                        {% if loop.index > tag_count_existing %}
                          <div class="tag-row">
                              <div class="tag">{{ form_label(tag) }}</div>
                              <label class="addremove">{{ form_widget(tag) }}<span></span></label>
                          </div>
                        {% endif %}
                    {% endfor %}
                    {# % do form['tags'].setRendered % #}
                    <div class="bottom-page-nav">
                        {{ form_row(form.back) }}{{ form_row(form.save) }}
                    </div>
                {% else %}
                    <h3 style='margin-bottom: 20px'>We didn't find any suggested codes<h3>
                    {% do form.save.setRendered %}
                    {% do form.tags.setRendered %}
                    {{ form_widget(form.back) }}
                {% endif %}
                {{ form_end(form) }}
                </div>


                <div class="content-block">
                    <div class="upload-info">
                        <h3>Help us suggest more.</h3>
                        {% if form['tags'] | length %}
                            <p>If the list of suggestions above is missing codes people might find useful, paste some descriptive text into the box below and press the "Suggest more codes" button.</p>
                        {% else %}
                            <p>We couldn't find any suggestions based on your data, paste some descriptive text into the box below and press the "Suggest more codes" button.</p>
                        {% endif %}
                        <hr>
                        <div>{{ form(pasteTextForm) }}</div>
                    </div>
                    </div>
                </acticle>

        </section>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/oag/js/main.js') }}"></script>
    <script>
        $(function () {
            $(document).tooltip();

            $("#enhancement_file_documentName").jfilestyle();
            ;
        });
    </script>
{% endblock %}
