{% extends "::base.html.twig" %}

{% block title %}OagBundle:Wireframe:classifierSuggestion{% endblock %}

{% block body %}

    <div class="center">

        <section class="block">

            <div class="intro margin">
                <h1>Suggestions for...</h1>
            </div>

            {{ include('OagBundle::widgets/activity.html.twig', { 'activity': activity, 'suggestRoute': path('oag_wireframe_classifiersuggestion', { 'id': file.getId(), 'activityId': activity.id }) }) }}

            {{ form_start(form) }}
            {% for tag in form['tags'] %}
            <div class="tags">
                {{ form_label(tag) }}
                <label class="addremove">{{ form_widget(tag) }}<span></span></label>
            </div>
            {% endfor %}
            {{ form_end(form) }}

        </section>

    </div>

{% endblock %}
