{% extends "::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Download your activity file{% endblock %}

{% block body %}

    <div class="center">

        <section class="block">

            <div class="intro margin">
                <h1>Download</h1>
            </div>

            <article class="activity">
                <div class="heading">
                    <h2>{{ file.getDocumentName() }}</h2>
                    <h3>Uploaded: {{ file.getUploadDate|date }}</h3>
                </div>

                <div class="content-block">
                  <p>This is the most recently uploaded version of your activity file.</p>
                  <div class="options">
                      <a href="{{ path('oag_wireframe_preview', { 'id': file.getId() }) }}" class="cta">Preview</a>
                      <a href="{{ path('oag_wireframe_improveyourdata', { 'id': file.getId() }) }}" class="cta">Check and improve</a>
                      <a href="{{ path('oag_wireframe_downloadfile', { 'id': file.getId() }) }}" class="cta">Download</a>
                  </div>

                  <div class="upload-form">
                      <h3>Upload a version of your activity file</h3>
                      {{ include('OagBundle::widgets/fileUploadWidget.html.twig', { 'form': uploadForm }) }}
                  </div>
                </div>

                {% if suggestRoute is defined %}
                <div class="view-suggestions"><a href="{{ suggestRoute }}" class="cta">View Suggestions</a></div>
                {% endif %}
            </article>

            <div class="intro margin">
                <h1>Store</h1>
            </div>

            <article class="activity">
                <div class="heading">
                    <h2>Upload a version of your activity file</h2>
                </div>
                <div class="content-block">
                    <!-- Table to show stored files -->
                    <table>
                        <tr>
                            <th></th>
                            <th>File</th>
                            <th>Date</th>
                            <th>Improved</th>
                            <th>Download</th>
                        </tr>
                        {% for otherFile in otherFiles %}
                        <tr>
                            <td><span class="delete"><a href="{{ path('oag_wireframe_deletefile', { id: otherFile.getId() }) }}"></a></span></td>
                            <td>{{ otherFile.getDocumentName() }}</td>
                            <td>{{ otherFile.getUploadDate|date }}</td>
                            <td>{{ srvOagFile.hasBeenImproved(otherFile) ? 'Yes' : 'No' }}</td>
                            <td><span class="download"><a href="{{ path('oag_wireframe_downloadfile', { id: otherFile.getId() }) }}"></a></span></td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </article>

          </section>

      </div>

{% endblock %}
