{% extends "OagBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/oag/neonmap/dist/neonmap.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}OagBundle:Wireframe:classifierSuggestion{% endblock %}

{% block body %}

    <div class="center" id="geo-suggestions">

        <section class="block">

            <div class="intro margin">
                <h1>Geocoder suggestions</h1>
            </div>

            <article class="activity margin">
                <div class="heading">
                    <h2>Suggestions for {{ activity.name }} </h2>
                    <h3>Activity ID: {{ activity.id }}</h3>
                </div>

                <div class="content-block">
                    <p>Description: {{ activity.description }}</p>

                    <!-- TODO: Move this back out, but not to activity.html.twig -->
                    {{ form_start(form) }}

                    {% for location in currentLocations %}
                    <div class="tag-row">
                        {% if loop.index0 in currentLocationsMaps|keys %}
                            <div class="suggested-map-block" data-geojson='{{ currentLocationsMaps[loop.index0] }}'></div>
                        {% endif %}

                        <div class="info">
                            {% if location.name is defined %}
                                <div class="tag">{{ location.name }}</div>
                            {% endif %}

                            {% if location.description is defined %}
                                <p>{{ location.description }}</p>
                            {% endif %}

                            {% if location['activity-description'] is defined %}
                                <p>{{ location['activity-description'] }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}

                    {% for tag in form['tags'] %}
                    <div class="tag-row">
                        <div class="suggested-map-block" data-geojson='{{ tag.vars.attr['data-geojson'] }}'></div>

                        <div class="info">
                            <div class="tag">{{ form_label(tag) }}</div>
                            <label class="addremove">{{ form_widget(tag) }}<span></span></label>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="bottom-page-nav">
                        {{ form_row(form.back) }}{{ form_row(form.save) }}
                    </div>
                    {{ form_end(form) }}

                    <div class="upload-info">
                        <h3>Got any project info to match this Activity ID you want the tool to read?</h3>
                        <hr>
                        <div>{{ form(enhancementUploadForm) }}</div>
                    </div>

                </div>
            </acticle>

        </section>

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/oag/neonmap/dist/neonmap.js') }}"></script>
    <script>
        $( document ).ready(function() {
            $('.suggested-map-block').neonmap({image_path: "{{ asset('bundles/oag/neonmap/dist/images') }}" });
        });
    </script>
    <script type="text/javascript" src="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.js') }}"></script>
    <script>
        $(function () {
            $(document).tooltip();

            $("#enhancement_file_documentName").jfilestyle();;
        });
    </script>
{% endblock %}
