{% extends "OagBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/oag/neonmap/dist/neonmap.css') }}" rel="stylesheet"/>
    <link href="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.css') }}" rel="stylesheet"/>
{% endblock %}

{% block title %}OagBundle:Wireframe:classifierSuggestion{% endblock %}

{% block body %}

    <div class="center" id="geo-suggestions">

      <section class="block">
        <article class="activity margin">

          <div class="heading">
            <h2>{{ activityid }}</h2>
          </div>

          <div class="content-block">
            {% for loc in current %}
            <p><pre>{{ loc }}</pre></p>
            {% endfor %}
          </div>

          <div class="content-block">
            {% for loc in suggested %}
            <p><pre>{{ loc }}</pre></p>
            {% endfor %}
          </div>

        </article>
      </section>

    </div>

{% endblock %}
