{% extends "OagBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Check and improve your data{% endblock %}

{% block body %}

    <div class="center" id="improve-your-data">

        <section class="block">
            <article class="activity" id="classifer-status" data-statusurl="{{ classifierUrl }}">
                <div class="heading summary improve">
                    <h2>Classifying</h2>
                </div>
                <div class="content-block summary">
                    <ul>
                            {% for filename in status.classifier.filenames %}
                        <li class='status-file'>{{ filename }}</li>
                            {% endfor %}
                        <li class='status-file'>salt.xml</li>
                        <li class='status-file'>pepper.xml</li>
                    </ul>
                </div>
            </article>
                    
            <article class="activity" id="geocoder-status" data-statusurl="{{ geocoderUrl }}">
                <div class="heading summary improve">
                    <h2>Geocoding</h2>
                </div>
                <div class="content-block summary">
                    <ul>
                        {% for filename in status.geocoder.filenames %}
                            <li class='status-file'>{{ filename }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </article>
               
            <div class="intro margin">
                <h1>Check and improve your data</h1>
            </div>

            <article class="activity">
                <div class="heading summary">
                    <h2>Right now, your data...</h2>
                </div>

                <div class="content-block summary complete">
                    <ul>
                        <li>
                            <h2 class="completed">Works for people comparing IATI data</h2>
                            <div class="info">
                                <p>Your activity file is compliant to the XML schema of the IATI standard and the additional rulesets.</p>
                            </div>
                        </li>
                        <li>
                          <h2 class="completed">Helps show traceability</h2>
                          <div class="info">
                              <p>Your activity file contains sufficient identifying information to help people who wish to trace funding.</p>
                          </div>
                        </li>
                        {% if classified %}
                        <li>
                            <h2 class="completed">Helps people identify agricultural projects</h2>
                            <div class="info">
                              <p>The AGROVOC codes in your activity file help make your projects more discoverable by funders and others who may be interested in your work.</p>
                            </div>
                        </li>
                        {% endif %}
                        {% if geocoded %}
                        <li>
                            <h2 class="completed">Shows exactly where your work helps people</h2>
                            <div class="info">
                                <p>Your activities are located accurately, which means people can use your data to identify partners on the ground, gaps in provision and other geographic patterns</p>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </article>

     
            {% if (not geocoded) or (not classified) %}
            <article class="activity">
                <div class="heading summary improve">
                    <h2>Improve your data to help people...</h2>
                    <img src="{{ asset('bundles/oag/images/arrow.svg') }}" />
                </div>
                <div class="content-block summary improve">
                    <ul>
                        {% if not classified %}
                        <li><h2><span class="tip">Identify agricultural projects</span></h2>
                            <div class="improvements">
                                <p>Adding AGROVOC codes to your activity file helps make your projects more discoverable by funders and others who may be interested in your work.</p>
                                <a href="{{ path('oag_wireframe_classifier', { 'id': file.getId() }) }}"><button>Use&nbsp;Our&nbsp;Classifier</button></a>
                            </div>
                        </li>
                        {% endif %}
                        {% if not geocoded %}
                        <li><h2><span class="tip">Locate your projects accurately</span></h2>
                            <div class="improvements">
                                <p>If activities are located accurately, then people can use your data to identify partners on the ground, gaps in provision and other geographic patterns.</p>
                                <a href="{{ path('oag_wireframe_geocoder', { 'id': file.getId() }) }}"><button>Use&nbsp;Our&nbsp;Geocoder</button></a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </article>
            {% endif %}

        </section>

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.js') }}"></script>
    <script>
        $('.info').hide();
        $('.completed').on('click', function() {
            var $this = $(this),
            $next = $this.next();

            var $last = $('div:visible', $this.parents('ul'));

            if ($last.length) {
                $last.slideUp('fast');
            }

            if ($last.parents('li').index() !== $this.parent().index()) {
                $next.slideDown('fast');
            }
        });
    </script>
    <script>
        $( document ).ready(function() {
            checkStatus('#classifer-status');
            checkStatus('#geocoder-status');
            
            function checkStatus(selectortext) {
                var url = $(selectortext).data('statusurl');
                var items = [];
                $(selectortext + ' .status-file').each(function (key, ele){
                    items.push($(ele).text());
                });
                $.get(url, function(data, status){
                    var to_remove = $(items).not(data.filenames).get();
                    var to_add = $(data.filenames).not(items).get();
                    $.each(to_remove, function(key, value) {
                        var ele = $(selectortext + " .status-file:contains(" + value + ")");
                        ele.remove();
                    });
                    $.each(to_add, function(key, value) {
                        $(selectortext + ' ul').append('<li class="status-file">' + value + '</li>');
                    });
                    
                    if (data.filenames.length === 0) {
                        $(selectortext).slideUp();
                    }
                    else {
                        $(selectortext).slideDown();
                    }
                    
                    setTimeout(function() {
                        checkStatus(selectortext);
                    }, 5000);
                });
            }
            
        });
    </script>
{% endblock %}
