{% extends "OagBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Check and improve your data{% endblock %}

{% block body %}

    <div class="center" id="improve-your-data">

        <section class="block">

            <div class="intro margin">
                <h1>Check and improve your data</h1>
            </div>

            <article class="activity">
                <div class="heading summary">
                    <h2>Right now, your data...</h2>
                </div>

                <div class="content-block summary complete">
                    <ul>
                        <li>
                            <h2 class="completed">Works for people comparing IATI data</h2>
                            <div class="info">
                                <p>Your activity file is compliant to the XML schema of the IATI standard and the additional rulesets.</p>
                            </div>
                        </li>
                        {% if classified %}
                        <li>
                            <h2 class="completed">Helps people identify agricultural projects</h2>
                            <div class="info">
                                <p>The AGROVOC codes in your activity file help make your projects more discoverable by funders and others who may be interested in your work.
                                    You have an average of {{ file_stats.averageTags }} tag{% if file_stats.averageTags | round != 1  %}s{% endif %} per activity.
                                    {# <button id="reclassify" data-url="{{ reclassifyUrl }}" class="trigger">&#x21bb; Re-Classify</button> #}</p>
                                <a href="{{ path('oag_wireframe_classifier', { 'id': file.getId() }) }}">
                                    <button type="button" id="class-button" disabled data-statusurl="{{ classifierUrl }}"><span class="fa fa-spinner fa-spin"></span>Further improve your tagging</button>
                                </a>
                            </div>
                        </li>
                        {% endif %}
                        {% if geocoded %}
                        <li>
                            <h2 class="completed">Shows exactly where your work helps people</h2>
                            <div class="info">
                                <p>Your activities are located accurately, which means people can use your data to identify partners on the ground, gaps in provision and other geographic patterns.
                                    You have an average of {{ file_stats.averageLocs }} location{% if file_stats.averageLocs | round != 1  %}s{% endif %} per activity.
                                    {# <button id="reclassify" data-url="{{ reclassifyUrl }}" class="trigger">&#x21bb; Re-Classify</button> #}</p>
                                <a href="{{ path('oag_wireframe_geocoder', { 'id': file.getId() }) }}">
                                    <button type="button" id="geo-button" disabled data-statusurl="{{ geocoderUrl }}"><span class="fa fa-spinner fa-spin"></span>Further improve your geo-coding</button>
                                </a>
                            </div>
                        </li>
                        {% endif %}
                        {% if show_traceability %}
                        <li>
                          <h2 class="completed">Helps show traceability</h2>
                          <div class="info">
                              <p>Your activity file contains sufficient identifying information to help people who wish to trace funding.</p>
                          </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </article>


            {% if (not geocoded) or (not classified) or (not show_traceability) %}
            <article class="activity">
                <div class="heading summary improve">
                    <h2>Improve your data to...</h2>
                    <img src="{{ asset('bundles/oag/images/arrow.svg') }}" />
                </div>
                <div class="content-block summary improve">
                    <ul>
                        {% if not classified %}
                        <li><h2><span class="tip">Help people identify agricultural projects</span></h2>
                            <div class="improvements">
                                <p>
                                    Adding AGROVOC codes to your activity file helps make your projects more discoverable by funders and others who may be interested in your work.
                                    <strong>
                                        {% if file_stats.count == 1 %}
                                            Your activity has no tags.
                                        {% else %}
                                            {{ file_stats.activitiesWithNoTags }} of your {{ file_stats.count }} activities have no tags.
                                        {% endif %}
                                    </strong>
                                    {# <button id="reclassify" data-url="{{ reclassifyUrl }}" class="trigger">&#x21bb; Re-Classify</button> #}
                                </p>
                                <a href="{{ path('oag_wireframe_classifier', { 'id': file.getId() }) }}"><button type="button" id="class-button" disabled data-statusurl="{{ classifierUrl }}"><span class="fa fa-spinner fa-spin"></span>Tag your data</button></a>
                            </div>
                        </li>
                        {% endif %}
                        {% if not geocoded %}
                        <li><h2><span class="tip">Help people locate your projects accurately</span></h2>
                            <div class="improvements">
                                <p>
                                    If activities are located accurately, then people can use your data to identify partners on the ground, gaps in provision and other geographic patterns.
                                    <strong>
                                        {% if file_stats.count == 1 %}
                                            Your activity has no locations.
                                        {% else %}
                                            {{ file_stats.activitiesWithNoLocs }} of your {{ file_stats.count }} activities have no locations.
                                        {% endif %}
                                    </strong>
                                    {# <button id="regeocode" data-url="{{ regeocodeUrl }}" class="trigger">&#x21bb; Re-Geocode</button> #}
                                </p>
                                <a href="{{ path('oag_wireframe_geocoder', { 'id': file.getId() }) }}"><button type="button" id="geo-button" disabled data-statusurl="{{ geocoderUrl }}"><span class="fa fa-spinner fa-spin"></span>Geocode your data</button></a>
                            </div>
                        </li>
                        {% endif %}
                        {% if not show_traceability %}
                        <li><h2><span class="tip">Help people trace funding between organisations</span></h2>
                            <div class="improvements">
                                <p>If your activities are tagged with organisational identifiers, then people can use your data to see how funding from large organisations has been spent on the ground.</p>
                                <a href="http://org-id.guide/"><button type="button" id="trace-button">Org-id.guide can help</button></a>
                            </div>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </article>
            {% endif %}

        </section>

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.js') }}"></script>
    <script>
        $( document ).ready(function() {
            checkStatus('#class-button');
            checkStatus('#geo-button');

            function checkStatus(buttonId) {
                var url = $(buttonId).data('statusurl');
                var items = [];
                $(buttonId + ' .status-file').each(function (key, ele){
                    items.push($(ele).text());
                });
                $.get(url, function(data, status) {

                    if (data.filenames.length === 0) {
                        $(buttonId).removeAttr("disabled");
                        $(buttonId + " .fa.fa-spinner.fa-spin").remove();
                        $(buttonId).trigger( "asyncdone", [ buttonId ] );
                    }
                    else {
                        setTimeout(function () {
                            checkStatus(buttonId);
                        }, 5000);
                    }
                });
            }

            function reCheck(url, buttonId) {
                $(buttonId).attr('disabled', true);
                $(buttonId).prepend('<span class="fa fa-spinner fa-spin">');
                $.get({
                    url: url,
                }).done(function() {
                    checkStatus(buttonId);
                });
            }

            $('#reclassify').on('click', function() {
                $(this).attr('disabled', true);
                var url = $(this).data('url');
                reCheck(url, '#class-button');
            });

            $('#regeocode').on('click', function() {
                $(this).attr('disabled', true);
                var url = $(this).data('url');
                reCheck(url, '#geo-button');
            });

            $( "body" ).on( "asyncdone", function( event, buttonId ) {
              if (buttonId == '#class-button') {
                  $('#reclassify').removeAttr("disabled");
              }
              else if (buttonId == '#geo-button') {
                  $('#regeocode').removeAttr("disabled");
              }
            });

        });
    </script>
{% endblock %}
