{% extends 'OagBundle::Default/index.html.twig' %}

{% block body %}
<h1>Welcome to the Wireframe:index page</h1>

<ul>
    <li><a href="{{ path('oag_wireframe_index') }}">indexAction</a></li>
    <li><a href="{{ path('oag_wireframe_upload') }}">uploadAction</a></li>
    <li><a href="{{ path('oag_wireframe_download', { 'id': 1 }) }}">downloadAction <em>id=1</em></a></li>
    <li><a href="{{ path('oag_wireframe_downloadfile', { 'id': 1 }) }}">downloadFileAction <em>id=1</em></a></li>
    <li><a href="{{ path('oag_wireframe_deletefile', { 'id': 1 }) }}">deleteFileAction <em>id=1</em></a></li>
    <li><a href="{{ path('oag_wireframe_classifier', { 'id': 1 }) }}">classifierAction <em>id=1</em></a></li>
    <li><a href="{{ path('oag_wireframe_classifiersuggestion', { 'id': 1, 'activityId': 'XM-DAC-41108-1100001602' }) }}">classifierSuggestionAction <em>id=1 activityId=XM-DAC-41108-1100001602</em></a></li>
    <li><a href="{{ path('oag_wireframe_preview', { 'id': 1 }) }}">previewAction <em>id=1</em></a></li>
    <li><a href="{{ path('oag_wireframe_geocoder') }}">geocoderAction</a></li>
    <li><a href="{{ path('oag_wireframe_geocodersuggestion') }}">geocoderSuggestionAction</a></li>
    <li><a href="{{ path('oag_wireframe_improveyourdata', { 'id': 1 }) }}">improveYourDataAction <em>id=1</em></a></li>
</ul>
{% endblock %}
