{% extends 'OagBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('bundles/oag/font-awesome/css/font-awesome.css') }}">
{% endblock %}

{% block title %}{{ toolbox_title }} - Upload your file{% endblock %}

{% block body %}

    <section class="center gradient">

        <div class="content">

            <div class="intro">
                <h1>Using the {{ toolbox_title }} you can...</h1>

                <h2><span class="view">View how your data will look to the world.</span></h2>

                <h2><span class="check">Check how your data can be used and improve it.</span></h2>

                <h2><span class="download">Download your improved activity file.</span></h2>
            </div>

            <div class="upload-form upload">
                <div class="heading"><h1>Get started</h1></div>
                <div class="file-upload">{{ form(source_upload_form) }}</div>
            </div>

        </div>


    </section>

    <section class="center instructions">

        <div class="content">
            {{ include('OagBundle::widgets/validation_errors.html.twig') }}
            {{ include('OagBundle::widgets/ruleset_errors.html.twig') }}

            <h1>What can I upload?</h1>
            <div class="template">
                <h2>A spreadsheet with the right columns</h2>
                <a href="{{ asset('bundles/oag/iati/iati-template.xlsx') }}">
                    <button class="back cta"><span>Get&nbsp;template</span></button>
                </a>
            </div>
            <div class="info">
                <h2>XML that is IATI compliant</h2>
                <p>At the centre of IATI is the IATI Standard. This is a format and framework for publishing data on
                    development
                    cooperation activities, intended for use by all organisations engaged in development, from
                    government donors to
                    private sector organisations, and national and international NGOs. It was designed in close
                    consultation with key
                    users of development cooperation data in developing countries, to ensure its relevance and utility
                    for a variety
                    of different data users.
                </p>
                <p>IATI uses a data format called XML. It is very easy to convert this format into more accessible
                    formats – such as
                    CSV, or even use it to drive tools that can generate graphs and tables of data from queries.</p>
            </div>

        </div>

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.js') }}"></script>
    <script>
        $(function () {
            $(document).tooltip();

            $("#oag_file_documentName").jfilestyle();
            ;
        });
    </script>
{% endblock %}
