{% extends 'OagBundle::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.css') }}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ asset('bundles/oag/font-awesome/css/font-awesome.css') }}">
{% endblock %}

{% block title %}{{ toolbox_title }} - Upload your file{% endblock %}

{% block body %}

    <section class="center gradient">

        <div class="content">

            <div class="intro">
                <h1>Using the {{ toolbox_title }} you can...</h1>

                <h2><span class="view">View how your data will look to the world.</span></h2>

                <h2><span class="check">Check how your data can be used and improve it.</span></h2>

                <h2><span class="download">Download your improved activity file.</span></h2>
            </div>

            {% if errors is defined and errors.error is defined %}
                <div class="'error">
                    {% for error in errors.error %}
                        <div class="'error-item">
                            {{ error | raw }}
                        </div>
                    {% endfor %}
                </div>
                {{ dump(errors) }}
            {% endif %}

            <div class="upload-form upload">
                <div class="heading"><h1>Get started</h1></div>
                <div class="file-upload">{{ form(source_upload_form) }}</div>
            </div>

        </div>


    </section>

    <section class="center instructions">

        <div class="content">
            {{ include('OagBundle::widgets/validation_errors.html.twig') }}
            {{ include('OagBundle::widgets/ruleset_errors.html.twig') }}

            <h1>What should I upload?</h1>
            <div class="info">
                <h2>An XML file that is IATI compliant</h2>
                <p>The IATI standard is at the centre of <a href="https://www.aidtransparency.net/" target="_blank">international aid transparency.</a> This standard is a format and framework for publishing data on development cooperation activities, intended for use by all organisations engaged in development, from government donors to private sector organisations, and national and international NGOs. It was designed in close consultation with key users of development cooperation data in developing countries, to ensure its relevance and utility for a variety of different data users.
                </p>
                <p>The IATI standard uses a file format called XML. It is easy to convert data in XML into other formats, such as CSV, or even use it to drive tools that can generate graphs and tables of data from queries.</p>
            </div>

        </div>

    </section>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('bundles/oag/jquery-filestyle-1.5.1/src/jquery-filestyle.min.js') }}"></script>
    <script>
        $(function () {
            $(document).tooltip();

            $("#oag_file_documentName").jfilestyle();
            ;
        });
    </script>
{% endblock %}
