<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ toolbox_title }}{% endblock %}</title>

        {% block stylesheets %}

        {% stylesheets
            'bundles/oag/stylesheets/normalize.css'
            'bundles/oag/sass/main.scss'
        %}
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="{{ asset_url }}" />
            <link rel="stylesheet" href="{{ asset('bundles/oag/font-awesome/css/font-awesome.css') }}">
        {% endstylesheets %}

        {% endblock %}
    </head>
    <body>

        <header class="header">
            <nav class="header-nav">
                <div class="logo"><a href="{{ path('oag_default_index') }}">{{ toolbox_title }}</a></div>

                <div class="nav-options">
                    <ul>
                        <li><a href="#">Preview</a></li>
                        <li><a href="#">Check and improve</a></li>
                        <li><a href="#">Download</a></li>
                    </ul>
                </div>

                <div id="menu">
                    {% block menu %}{% endblock %}
                </div>
            </nav>
        </header>

        <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
        </main>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block javascripts %}
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}

    </body>
</html>
