<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ toolbox_title }}{% endblock %}</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        {% block stylesheets %}
            <link href="{{ asset('bundles/oag/stylesheets/normalize.css') }}" rel="stylesheet" />
            <link href="{{ asset('bundles/oag/stylesheets/main.css') }}" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        {% endblock %}
    </head>
    <body>

        <header class="header">
            <nav class="header-nav">
                <div class="logo"><a href="{{ path('oag_default_index') }}">{{ toolbox_title }}</a></div>

                {% if iatidocs == false %}
                <div class="nav-options">
                    <a href="#">Preview</a>
                    <a href="#">Check and improve</a>
                </div>
                {% endif %}

                <div id="menu">
                    {% block menu %}{% endblock %}
                </div>
            </nav>
        </header>

        <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}{% endblock %}
        </main>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block javascripts %}
        <script src="{{ asset('js/main.js') }}"></script>
    {% endblock %}

    </body>
</html>
