{% extends 'OagBundle::Default/index.html.twig' %}

{% block title %}IATI Document: {{ name }}{% endblock %}

{% block h1 %}{{ name }}{% endblock %}

{% block menu %}
    {{ parent() }}
    |
    <a class='view-xml-link' href="{{ asset('xml')}}/{{ oagfiles_dir }}/{{ name }}">Raw XML</a>
{% endblock %}

{% block body %}
    <h2>Already in the document</h2>
    <ul>
        {% for activity in activities %}
            <li><a href='{{ path('oag_activity_enhance', { 'id': id, 'iati_activity_id': activity['id'] }) }}'>{{ activity['name'] }}</a></li>
            <ul>
                {% for sector in activity['sectors'] %}
                    <li>{{ sector['description'] }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
        <h2>Associated files</h2>
        <div class='associated-files'>
            {% if enhancingDocuments|length > 0 %}
                <ul>
                    {% for doc in enhancingDocuments %}
                        <li><span class='docname'>{{ doc.documentName }}</span>
                            <a href="{{ path('oag_oagfile_enhancement', { 'id': doc.id }) }}">View</a> |
                            <a href='{{ path('oag_oagfile_classify', { 'id': doc.id }) }}'>{% if doc.sectors|length > 0 %}Re-{% endif %}Classify</a> |
                            <a href="#">Geocode</a>
                        {% endfor %}
                </ul>
        {% else %}
            <h3>No assciated documents</h3>
        {% endif %}
        <div class="upload-form">
            <h3>Import a new enhancement document</h3>
            <div>The imported document will be automatically classified and added to this IATI document.</div>
            {{ form_start(enhancement_upload_form) }}
            {{ form_label(enhancement_upload_form.documentName) }}
            {{ form_errors(enhancement_upload_form.documentName) }}
            {{ form_widget(enhancement_upload_form.documentName) }}

            {{ form_widget(enhancement_upload_form.fileType, { 'attr': {'class': 'hidden-row'} }) }}
            {{ form_end(enhancement_upload_form) }}
        </div>
        </div>
{% endblock %}
