{# This inherits from /app/Resources/views/base.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}

{% stylesheets
    'bundles/oag/stylesheets/normalize.css'
    'bundles/oag/sass/main.scss'
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}

{% endblock %}

{% block title %}{{ toolbox_title }}{% endblock %}

{% block h2 %}Open Ag Toolbox{% endblock %}

{% block body %}

    {% if iatidocs == false %}

    <section>

        <div class="content">

            <h2>IATI Documents</h2>

            <ul>
                {% for iatidoc in iatidocs %}
                    <li>
                        <a href="{{ path('oag_dportal_oagfile', { 'id': iatidoc.id }) }}" target="dportal">[Visualise]</a>
                        {{ include('OagBundle::Default/iatiFile.html.twig', { 'iatiDoc': iatidoc }) }}
                        <ul>
                            {% for enhancingDoc in iatidoc.enhancingDocuments %}
                                <li>
                                    {{ include('OagBundle::Default/enhancementFile.html.twig', { 'enhancingDoc': enhancingDoc }) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>

        </div>

    </section>

    <section>

        <div class="content">

            <h2>Unvalidated IATI Documents</h2>

            <ul>
                {% for sourceDoc in sourceDocs %}
                    <li>
                        {{ include('OagBundle::Default/sourceFile.html.twig', { 'sourceDoc': sourceDoc }) }}
                    </li>
                {% endfor %}
                <div class="upload-form">
                    <h3>Import a new source document</h3>
                    <div>The imported document will be automatically processed with CoVE and added to the IATI document list above.</div>
                    <div>Currently only XML is supported.</div>
                    <div>
                        {{ form_start(source_upload_form) }}
                        {{ form_label(source_upload_form.documentName) }}
                        {{ form_errors(source_upload_form.documentName) }}
                        {{ form_widget(source_upload_form.documentName) }}

                        {{ form_widget(source_upload_form.fileType, { 'attr': {'class': 'hidden-row'} }) }}
                        {{ form_end(source_upload_form) }}
                    </div>
                </div>
            </ul>

        </div>

    </section>

    <section>

        <div class="content">

            <h2>Enhancement Documents <small>[activities/locations]</small></h2>

            <ul>
                {% for enhancingDoc in enhancingDocs %}
                    <li>
                        {{ include('OagBundle::Default/enhancementFile.html.twig', { 'enhancingDoc': enhancingDoc }) }}
                    </li>
                {% endfor %}
            </ul>

        </div>

    </section>

    {% else %}

    <section>

        <div class="content">

            <div class="intro">
                <h1 class="dark">Using the {{ toolbox_title }} you can...</h1>

                <h2><span class="dark">View</span> how your data will look to the world.</h2>

                <h2><span class="dark">Check</span> what your data can be used for and improve it.</h2>

                <h2><span class="dark">Publish</span> your improved activity file.</h2>
            </div>

            <h1 class="dark">Get Started</h1>

            <div class="upload-form">
                <h3>Import a new source document</h3>
                <hr>
                <div>The imported document will be automatically processed with CoVE and added to the IATI document list above.</div>
                <div>Currently only XML is supported.</div>
                <div>
                    {{ form_start(source_upload_form) }}
                    {{ form_label(source_upload_form.documentName) }}
                    {{ form_errors(source_upload_form.documentName) }}
                    {{ form_widget(source_upload_form.documentName) }}

                    {{ form_widget(source_upload_form.fileType, { 'attr': {'class': 'hidden-row'} }) }}
                    {{ form_end(source_upload_form) }}
                </div>
            </div>

        </div>

    </section>

    <section>

        <div class="content">

            <h1>What can I upload</h1>

            <h2>A spreadsheet with the right columns.</h2>
            <h2>XML that is IATI compliant - see instructions</h2>

        </div>

    </section>

    {% endif %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/oag/js/main.js') }}"></script>
    <script>
        $(function () {
            $(document).tooltip();

            $("#select-all-delete").click(function () {
                var checkBoxes = $(".cbox-del");
                checkBoxes.prop("checked", !checkBoxes.prop("checked"));
            });
        });
    </script>
    <script>
{% endblock %}
