{# This inherrites from /app/Resources/views/base.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link href="{{ asset('bundles/oag/css/main.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/oag/stylesheets/main.css') }}" rel="stylesheet" />
{% endblock %}

{% block title %}Tool POCs{% endblock %}

{% block h2 %}Open Ag Toolbox{% endblock %}

{% block body %}

    <h2>IATI Documents</h2>

    <ul>
        {% for iatidoc in iatidocs %}
            <li>
                <a href="{{ path('oag_dportal_oagfile', { 'id': iatidoc.id }) }}" target="dportal">[Visualise]</a>
                {{ include('OagBundle::Default/iatiFile.html.twig', { 'iatiDoc': iatidoc }) }}
                <ul>
                    {% for enhancingDoc in iatidoc.enhancingDocuments %}
                        <li>
                            {{ include('OagBundle::Default/enhancementFile.html.twig', { 'enhancingDoc': enhancingDoc }) }}
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

    <h2>Unvalidated IATI Documents</h2>

    <ul>
        {% for sourceDoc in sourceDocs %}
            <li>
                {{ include('OagBundle::Default/sourceFile.html.twig', { 'sourceDoc': sourceDoc }) }}
            </li>
        {% endfor %}
        <div class="upload-form">
            <h3>Import a new source document</h3>
            <div>The imported document will be automatically processed with CoVE and added to the IATI document list above.</div>
            <div>Currently only XML is supported.</div>
            <div>
                {{ form_start(source_upload_form) }}
                {{ form_label(source_upload_form.documentName) }}
                {{ form_errors(source_upload_form.documentName) }}
                {{ form_widget(source_upload_form.documentName) }}

                {{ form_widget(source_upload_form.fileType, { 'attr': {'class': 'hidden-row'} }) }}
                {{ form_end(source_upload_form) }}
            </div>
        </div>
    </ul>

    <h2>Enhancement Documents <small><small>[activities/locations]</small></small></h2>

    <ul>
        {% for enhancingDoc in enhancingDocs %}
            <li>
                {{ include('OagBundle::Default/enhancementFile.html.twig', { 'enhancingDoc': enhancingDoc }) }}
            </li>
        {% endfor %}
    </ul>

        <h2>Todo Add</h2>
        <ul><li>Delete button</li></ul>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/oag/js/main.js') }}"></script>
    <script>
        $(function () {
            $(document).tooltip();

            $("#select-all-delete").click(function () {
                var checkBoxes = $(".cbox-del");
                checkBoxes.prop("checked", !checkBoxes.prop("checked"));
            });
        });
    </script>
{% endblock %}
