<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1">
    <title>{% block title %}{{ toolbox_title }}{% endblock %} - Beta</title>

    {% block stylesheets %}

        {% stylesheets
        'bundles/oag/stylesheets/normalize.css'
        'bundles/oag/sass/main.scss' %}
        <link rel="stylesheet" href="{{ asset('bundles/oag/stylesheets/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ asset_url }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/oag/font-awesome/css/font-awesome.css') }}">
        {% endstylesheets %}

    {% endblock %}
</head>
<body>

<header class="header">
    <nav class="header-nav">
        <div class="logo"><a href="{{ path('oag_wireframe_upload') }}">{{ toolbox_title }} <span class="red">Beta</span></a>
        </div>

        {% if file is defined %}
            <div class="nav-options">
                    <h3>{{ file.getDocumentName() }}</h3>
                <ul>
                    <li><a href="{{ path('oag_wireframe_improveyourdata', { 'id': file.getId() }) }}"></a></li>
                    <li><a href="{{ path('oag_wireframe_preview', { 'id': file.getId() }) }}"></a></li>
                    <li><a href="{{ path('oag_wireframe_download', { 'id': file.getId() }) }}"></a></li>
                </ul>
            </div>
        {% endif %}

        <div id="menu">
            {% block menu %}{% endblock %}
        </div>
    </nav>
</header>

<main>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash {{ label }}">
                <span class="icon"></span>
                <span class="message">{{ message | raw }}</span>
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
</main>

<script src="{{ asset('bundles/oag/js/jquery-1.12.4.js') }}"></script>
<script src="{{ asset('bundles/oag/js/jquery-ui.js') }}"></script>
{% block javascripts %}
    <script src="{{ asset('bundles/oag/js/node_modules/readmore.js/readmore.js') }}"></script>
    <script src="{{ asset('bundles/oag/js/main.js') }}"></script>
{% endblock %}

</body>
</html>
