{% block merge_activity_widget %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Current</th>
                <th>New</th>
                    {% for name, document in documents %}
                    <th>{{ name }}</th>
                    {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for id, name in ids %}
                <tr>
                    <td>{{ id }}</td>
                    <td width='100'>{{ name }}</td>
                    <td>
                        <ul>
                            {% for sector in current[id] %}
                                <li>
                                    {{ form_label(form['current' ~ id][loop.index0]) }}
                                    {{ form_widget(form['current' ~ id][loop.index0]) }}
                                </li>
                            {% endfor %}
                            {% do form['current' ~ id].setRendered %}
                    </td>
                    <td>
                        <ul>
                            {% for sector in new[id] %}
                                <li>
                                    {{ form_label(form['new' ~ id][loop.index0]) }}
                                    {{ form_widget(form['new' ~ id][loop.index0]) }}
                                </li>
                            {% endfor %}
                        </ul>
                        {% do form['new' ~ id].setRendered %}
                    </td>
                    {% for document in documents %}
                        <td>
                            {% set _key = 'addon_' ~ id ~ '_' ~ loop.index0 %}
                            <ul>
                                {% for row in form[_key] %}
                                    <li>{{ form_label(row) }} {{ form_widget(row) }}</li>
                                    {%endfor %}
                            </ul>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td colspan='4'>{{ form_widget(form.submit, { 'label': 'Merge' }) }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
