<article class="activity">
    <div class="heading">
        <h2>{{ activity.name }}</h2>
        <h3>Activity ID: {{ activity.id }}</h3>
    </div>
    
    <div class="content-block">
        {% if activity.description %}
            <p class="more">Description: {{ activity.description }}</p>
        {% else %}
            <p>No description available.</p>
        {% endif %}
        
        {% if suggestRoute is defined %}
            <div class='suggestiontext'>
                {% if count == 0 %}
                    We were unable to autodetect any suggestions.
                {% else %}
                    We found {{ count }} suggestion{% if count > 1 %}s{% endif %}.
                {% endif %}
            </div>
            <div class="view-suggestions">
                <a href="{{ suggestRoute }}" class="cta">{% if count == 0 %}Add more information{% else %}Show suggestions{% endif %}</a>
            </div>
        {% endif %}
    </div>
</article>
