
<div>
    
    {{ form_start(form) }}
    {{ form_errors(form.documentName) }}
    
    {{ form_widget(form.documentName) }}

    {{ form_widget(form.fileType, { 'attr': {'class': 'hidden-row'} }) }}
    {{ form_end(form) }}
    
</div>